#banner {
	margin-top: 50px;
}

#banner img {
	width: 100%;
	height: 100%;
}

#banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: traslateX(50%) tranlateY(50%);
	color: #fff;
}

#banner h2 {
	font-size: 70px;
}

#banner a {
	display: block;
	width: 100px;
	color: #fff;
	text-decoration: none;
	padding: 7px;
	margin-top: 10px;
	border:3px solid #fff;
}

#banner a:hover {
	background: rgba(51,51,51,0.5);
}


